
	<div class='col-sm-4 col-sm-offset-4'>
		<%= simple_form_for @cash do |f| %>
		<div class="form-inputs">
			<label>Saldo inicial em caixa</label>
		</div>
		<div class="input-group">
			<span class="input-group-addon">R$</span>
			<%= f.input :value_open, as: :currency, :label=> false, :input_html =>{:class=>"form-control"} %>
		</div>
		<div class="form-inputs">
		</div>
		<br />
		<%= button_tag(type: :submit, :class=>"btn btn-block btn-primary") do %>
		<i class="icon-save"></i> Registar abertura de caixa
		<% end %>
		<% end %>
	</div>
<script type="text/javascript">

  $(document).ready(function() {
    $("input[type=text].currency").setMask('decimal');
  });
</script>