
<div class="row" id="content-wrapper">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-sm-12">
				<div class="page-header">

					<h1 class="pull-left">
						<i class="icon-ok"></i>
						<span>Fechar caixa</span>
					</h1>

				</div>
				<div class="row">
				<div class='col-sm-6 col-sm-offset-3'>
						<h4> Saldo inicial do caixa: <%= number_to_currency(@cash.value_open) %></h4>
						<h4> Saldo final em caixa segundo o sistema: <%= number_to_currency(@cash.value_system_closed) %></h4>
						<%= simple_form_for @cash do |f| %>
						<div class="form-inputs">
							<label>Valor final em caixa</label>
							<div class="input-group">
								<span class="input-group-addon">R$</span>
								<%= f.input :value_phisic_closed, as: :currency, :input_html =>{:class=>"form-control"}, :label => false %>
							</div>
						</div>
						<br />
						<%= button_tag(type: :submit, :class=>"btn btn-block btn-primary") do %>
						<i class="icon-save"></i> Registar fechamento de caixa
						<% end %>
						<% end %>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>
<script type="text/javascript">
	
	$(document).ready(function() {
		$("input[type=text].currency").setMask('decimal');
	})
</script>