<div class='row' id='content-wrapper'>
  <div class='col-xs-12'>
    <div class='row'>
      <div class='col-sm-12'>
        <div class='page-header'>
          <h1 class='pull-left'>
            <i class='icon-inbox'></i>
            <span>Registro de Caixa</span>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class='col-sm-12'>

    <div class="notice alert alert-dismissable" style="display:none"></div>
    <div class="box bordered-box green-border" style="margin-bottom:0;">
      <div class="box-header blue-background">
        <div class="title">
          <i class="icon-user"></i> Lista dos últimos registro de fechamento de caixa.
        </div>
      </div>
      <div class="box-content box-no-padding" style="margin-bottom:0;">
        <div class="responsive-table">
          <table class="table table-striped" style="margin-bottom:0;">
            <thead>
              <tr>
                <th>Valor de Abertura de Caixa</th>
                <th>Valor no caixa</th>
                <th>Valor de Fechamento de Caixa</th>
                <th>Hora de Abertura</th>
                <th>Hora de Fechamento</th>
                <th>Usuário</th>
              </tr>
            </thead>


            <tbody>
              <% @cashes.each do |cash| %>
              <tr>

                <td> <%= number_to_currency(cash.value_open) %></td>
                <td> <%= number_to_currency(cash.value_phisic_closed) %></td>
                <td> <%= number_to_currency(cash.value_system_closed) %></td>
                <td> <%= l cash.start_at, :format => :short %></td>
                <td> <%= l cash.end_at, :format => :short unless cash.end_at.nil?%></td>
                <td> <%= cash.user.username %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
          
        </div>
      </div>

    </div>

  </div>
</div>






