
<%= simple_form_for [@classification, @pricing], :remote => true do |f| %>
	<div class="form-group">
		<%= f.input :amount, :input_html=>{:class=>"form-control"} %>
	</div>
	<div class="form-group">
		<label>Preço</label>
		<div class="input-group">
			<span class="input-group-addon">R$</span>
			<%= f.input :price, as: :currency, :label=> false, :input_html=>{value: number_with_precision(f.object.price, precision: 2), :class=>"form-control"} %>
		</div>
	</div>
	<%= button_tag(:type => :submit, :class=>'btn btn-success') do %>
		<i class="icon-save"></i> Salvar
	<% end %>
<% end %>
<script type="text/javascript">
	
$(document).ready(function() {
  $("input[type=text].currency").setMask('decimal');
});
</script>
