<td><%= pricing.amount %></td>
<td><%= number_to_currency(pricing.price) %></td>
<td>
	<div class="text-right">
		
		<%= link_to edit_classification_pricing_path(@classification, pricing), remote: true, :class => 'btn btn-success' do %>
		<i class="icon-edit"></i> Editar
		<% end %>

		<%= link_to [@classification,pricing], method: :delete, data: {confirm: "deseja realmente remover?"}, :remote => true, :class=>'removable btn btn-danger' do %>
		<i class="icon-trash"></i> Remover
		<% end %>
	</div>
</td>