bootbox.hideAll();
$(".notice").html("");
$(".notice").removeClass("alert-info");
$(".notice").show();
$(".notice").addClass("alert alert-success")
$(".notice").html("<%= flash[:notice] %>");
$("table tbody").append("<tr id='pricing-row-<%= @pricing.id%>'><%= escape_javascript(render 'pricing_row', :pricing=> @pricing) %></tr>");