<div class='row' id='content-wrapper'>
  <div class='col-xs-12'>
    <div class='row'>
      <div class='col-sm-12'>
        <div class='page-header'>
          <h1 class='pull-left'>
            <i class='icon-list'></i>
            <span>Preços do Tipo de Quarto: <%= @classification.name %></span>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class='col-sm-12'>

    <div class="notice alert alert-dismissable" style="display:none"></div>
    <div class="box bordered-box green-border" style="margin-bottom:0;">
      <div class="box-header blue-background">
        <div class="title">
      		<i class="icon-money"></i> Preços
        	</div>
        <div class="actions">
          <%= link_to new_classification_pricing_path(@classification), :remote =>true, :class=>'btn btn-success' do %>
            <i class="icon-plus"></i> Cadastrar novo preço
          <% end %>

        </div>
      </div>
      <div class="box-content box-no-padding" style="margin-bottom:0;">
        <div class="responsive-table">
          <table class="table table-striped" style="margin-bottom:0;">
            <thead>
              <tr>
                <th>Quantidade de Pessoas</th>
                <th>Preço</th>
                <th></th>
              </tr>
            </thead>

              
            <tbody>
              <% @pricings.each do |pricing| %>
                <tr id="pricing-row-<%= pricing.id %>">
                  <%= render 'pricing_row', :pricing => pricing %>
                </tr>
              <% end %>
            </tbody>
          </table>
          
        </div>
         <%= will_paginate @pricings, renderer: BootstrapPagination::Rails %>
      </div>

    </div>

  </div>
</div>






