bootbox.hideAll();
$(".notice").html("")
$(".notice").addClass("alert alert-success")
$(".notice").show();
$(".notice").html("<%= flash[:notice] %>");
$("tr#pricing-row-<%= @pricing.id%>").html("<%= escape_javascript(render 'pricing_row', :pricing=> @pricing) %>");