<%= simple_form_for [@room, @booking], :html => {:class => 'form'}, :remote=> :true do |f| %>
<div class="form-group">
	<label>A partir de</label>
	<%= f.date_field :start_at, :class=>"form-control" %>    
</div>
<div class="form-group">
	<label>Até</label>
	<%= f.date_field :end_at, :class=>"form-control" %>
</div>
<div class="form-group">
	<%= f.association :customer, :input_html => {:class => "form-control"} %>
</div>

<div class='form-group'>
	<%= f.label :lot_of_persons, "Quantidade de Pessoas"%>
	<%= f.select :lot_of_persons, @room.classification.pricings.collect {|p| [get_price(p), p.amount]}, {}, {:class=>"form-control"} %>
</div>

<hr class='hr-normal'>
<div class='row'>
	<div class='col-sm-12'>
		<%= button_tag :type => 'submit', :class=>'btn btn-success btn-lg col-sm-12' do %>
		<i class='icon-save'></i>
		Salvar
		<% end %>
	</div>
</div>
<% end %>