<%= simple_form_for [@booking, @order], :html => {:class => 'form'}, :remote=> :true do |f| %>
	<div class="form-group">
    <%= f.association :product, :input_html => {:class => "form-control"} %>    
  	</div>
  	<div class="form-group">
  		<%= f.input :amount, :input_html => {:class => "form-control"} %>
  	</div>
	<%= button_tag(type: :submit, :class=>"btn btn-success") do %>
		<i class="icon-disk"></i> Salvar
	<% end %>
<% end %>