<td><%= order.product.id %></td>
<td><%= order.product.name %></td>
<td><%= order.amount %></td>
<td><%= number_to_currency(order.product.price)  %></td>
<td><%= number_to_currency(order.total_price)  %></td>


