bootbox.hideAll();
$(".notice").show();
$(".notice").addClass("alert alert-success")
$(".notice").html("<%= flash[:notice] %>")

$("table#orders tbody").append("<tr id='order-row-#{@order.id}'><%= escape_javascript(render 'order', :order => @order) %></tr>");
$(".subtotal").html("<%= number_to_currency(@booking.price_total) %>");
