<%= simple_form_for [@booking, @billing], :remote => true do |f| %>

	<div class="form-inputs">
		<label>Total da Hospedagem</label>
		<div class="input-group">
			<span class="input-group-addon">R$</span>
			<%= f.input :value, as: :currency, :label=> false, :input_html =>{:class=>"form-control", :value=> number_to_currency(f.object.value)} %>
		</div>
	</div>

	<div class="checkbox">
		<%= f.input :at_cash, as: :boolean %>
	</div>
	<%= button_tag(type: :submit, :class=>'btn btn-success') do %>
	<i class="icon-save"></i> Salvar
	<% end %>
<% end %>

<script type="text/javascript">

  $(document).ready(function() {
    $("input[type=text].currency").setMask('decimal');
  });
</script>	
