<div class='row'>
	<div class='col-sm-12'>

		<div class='box bordered-box blue-border'>
			<div class='box-header blue-background'>
				<div class='title'>
					<i class='icon-calendar-empty'></i>
					Reservas
				</div>
				<div class="actions">
					<%= link_to choose_classification_new_booking_path(:booking=>{:start_at=>Time.now, :end_at=>Time.now+1.day}), :remote =>true, :class=>'btn btn-success' do %>
					<i class="icon-plus"></i> Nova Reserva
					<% end %>

				</div>
			</div>
			<div class='box-content'>
				<div class='calendar'></div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {

		calendarDate = new Date();

		d = calendarDate.getDate();

		m = calendarDate.getMonth();

		y = calendarDate.getFullYear();

		var cal = $(".calendar").fullCalendar({
			defaultView: 'basicWeek',
			aspectRatio: 1.5,
			dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado','Domingo'
			],
			dayNamesMin: [
			'D','S','T','Q','Q','S','S','D'
			],
			dayNamesShort: [
			'Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'
			],
			monthNames: [  'Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro',
			'Outubro','Novembro','Dezembro'
			],
			monthNamesShort: [
			'Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set',
			'Out','Nov','Dez'
			],
			header: {
				center: "title",
				left: "basicDay,basicWeek,month",
				right: "prev,today,next"
			},

			events: '/bookings',
			
			columnFormat: {
			    month: 'ddd',    // Mon
			    week: 'ddd d/Mm', // Mon 9/7
			    day: 'dddd d/MM'  // Monday 9/7
			},
			titleFormat: {
			    month: 'MMMM yyyy',                             // September 2009
			    week: "d/MMM{ '&#8212;' d/MMM}, yyyy",
			    day: 'dddd, d/MMMM/yyyy'                  // Tuesday, Sep 8, 2009
			},
			buttonText: {
				prevYear: "&nbsp;&lt;&lt;&nbsp;",
				nextYear: "&nbsp;&gt;&gt;&nbsp;",
				today: "Hoje",
				month: "Mês",
				week: "Semana",
				day: "Dia"
			},
			droppable: true,
			clickable: true,
			// editable: true,
			selectable: true,
			selectHelper: true,
			select: function(start, end, allDay) {
				var today = new Date().setHours(0,0,0,0);;

				if (start<today || end < today){
					bootbox.alert("Data indisponível")
					$('.calendar').fullCalendar('unselect');
				} else {

					$.ajax({
						url: '/bookings/new/choose_classification',
						data: {
							booking: {
								start_at: start,
								end_at: end
							}
						},
						success: function(){
							$('.calendar').fullCalendar('unselect');
						}
					});
					
					// $.ajax({
					// 	url: '/bookings/new.js',
					// 	data: {
					// 		booking: {
					// 			start_at: start,
					// 			end_at: end
					// 		}
					// 	},
					// 	success: function(){
					// 		$('.calendar').fullCalendar('unselect');
					// 	}
					// });
				}
			},


			eventClick: function(calEvent, jsEvent, view) {
				jsEvent.preventDefault();
				$.ajax({
					url: '/bookings/'+calEvent.id+'.js',
				});
			},

			eventResize: function(event,dayDelta,minuteDelta,revertFunc) {
				$.ajax({
					url: '/bookings/'+event.id,
					type: 'PUT',
					data: {
						booking: {
							start_at: event.start,
							end_at: (event.end) ? event.end : event.start 
						},
					},
				});
			}
		});
});
</script>