<div class="row">
  <div class="col-xs-12">
    <div id="orders">
      <div class="row">
          <div class="row">
            <div class="col-sm-12">
              <div class="box">
                <div class="box-content">
                  <% Classification.all.each do |classification| %>
                  <%= link_to new_booking_path(:classification_id => classification.id, :booking => {:start_at=>@booking.start_at, :end_at=>@booking.end_at}), :class => "btn box-content box-statistic green-background", remote: true  do %>
                  <h3 class='title text-error'><%= classification.name %></h3>
                  <% end %>
                  <% end %>

                </div>

                
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
