<div id="flash_notice"></div>

<%= form_for @booking, :remote=> true, :html=>{:class=>"form"} do |f| %>
<fieldset>
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <div class='col-sm-12'>
    <%= @classification.name %>
    <div class="form-group">
      <%= f.label :start_at, "De" %>
      <%= f.date_field :start_at, :class=>"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :end_at, "Até" %>
      <%= f.date_field :end_at, :class=>"form-control" %>
    </div>
    
    <div class='form-group'>
      <%= f.label :room_id, "Quarto"%>
      <%= f.select :room_id, @classification.rooms.collect {|a| [a.number, a.id]}, {}, {:class=>"form-control"} %>
    </div>


    <div class='form-group'>
      <%= f.label :customer_id, "Cliente"%>
      <%= f.select :customer_id, Customer.all.collect {|c| [c.name, c.id]}, {}, {:class=>"form-control"} %>
    </div>


    <div class='form-group'>
      <%= f.label :lot_of_persons, "Quantidade de Pessoas"%>
      <%= f.select :lot_of_persons, @classification.pricings.collect {|p| [get_price(p), p.amount]}, {}, {:class=>"form-control"} %>
    </div>
    
  </div>
</fieldset>
<hr class='hr-normal'>
<div class='row'>
  <div class='col-sm-12'>
    <%= f.button :type => 'submit', :remote => true, :class=>'btn btn-success btn-lg col-sm-12' do %>
    <i class='icon-save'></i>
    Cadastrar
    <% end %>
  </div>
</div>
</div>
<p>
</p>
<% end %>
