
<div class="row">
	<div class='col-sm-12'>
		<p>
			<strong>Quarto</strong>#<%= @booking.room.number %>
		</p>
		<p>

			<strong>Começa em: <%= l @booking.start_at %></strong>
		</p>
		<p>

			<strong>Termina em: <%= l @booking.end_at %></strong>
		</p>
		<p>

			<strong>Reservado para: <%= @booking.customer.name %></strong>
		</p>
		<p>
			<strong>Status: <%= (@booking.paid?) ? "Pago" : "Em aberto" %></strong>
		</p>
		<p>


			<strong>
				<%= link_to @booking, :class=>'btn btn-primary' do %>
				<i class="icon-eye-open"></i>Ver detalhes
				<% end %>
				<%= link_to edit_booking_path(@booking), :class=>'btn btn-success', :remote => true do %>
				<i class="icon-eye-open"></i>Editar
				<% end %>
				<% if !@booking.billing.nil? %>
				<%= link_to @booking, :remote=> true, data: { confirm: 'Deseja realmente excluir esta reserva?' }, :method=>:delete, :class=>'btn btn-danger' do  %>
				<i class="icon-trash"></i>Remover
				<% end %>
				<% end %>

			</strong>
		</p>
	</div>
</div>