bootbox.hideAll();
$("#flash_notice").html("");
$("#calendar_notice").show();
$("#calendar_notice").html("<%= flash[:notice]%>");
$("#calendar_notice").addClass("alert-success");
$(".calendar").fullCalendar( 'removeEvents', [<%=@booking.id%>] )