

<div class='row' id='content-wrapper'>
	<div class='col-xs-12'>
		<div class='row'>
			<div class='col-sm-12'>
				<div class='page-header'>
					<h1 class='pull-left'>
						<i class='icon-calendar'></i>
						<span>Reservas</span>
					</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
  <div class='col-sm-12'>
  <div id="calendar_notice" class="alert alert-dismissable" style="display:none">
  	<a class="close" data-dismiss="alert" href="#">×
    </a>
  </div>
  	<div id="calendar-container">
  		<%= render 'calendar' %>
  	</div>
  </div>
</div>


