<div class="row" id="content-wrapper">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-sm-12">
				<div class="page-header">
					<h1 class="pull-left">
						<i class="icon-table"></i>
						<span>Tipos de Hospedagem</span>
					</h1>

				</div>
			</div>


		</div>
	</div>
</div>