<h1>

  <span>Hospedagem</span>
  <% if @booking.hosted? %>
  <% else %>
  <span>Reserva</span>
  <% end %>
  <span class="text-muted">#<%= @booking.id %></span>
</h1>            
<hr />
<h1>N&uacute;mero do Quarto: #<%= @booking.room.number %></h1>
<h1>Dados do cliente</h1>
<strong>nome</strong>
<%= @booking.customer.name %>
<br>
<small><a href="mailto:john@doe.com"><%= @booking.customer.email %></a></small>
<br>
<strong>Telefone</strong>*
<small><%= @booking.customer.phone %></small>
<br>

<strong>Check-in</strong>
<%= l @booking.start_at, :format => :short %>
<br>
<strong>Check-out</strong>
<%= l @booking.end_at, :format => :short %>
<hr/>
<h1>Produtos consumidos no Frigobar</h1>

<table id="orders" class="table table-striped" style="margin-bottom:0;">
  <thead>
   <tr>
    <th>C&oacute;digo</th>
    <th>Item</th>
    <th>Quantidade</th>
    <th>Pre&ccedil;o</th>
    <th>Pre&ccedil;o total</th>
  </tr>
</thead>


<tbody>
  <% @booking.orders.includes(:product).each do |order| %>
  <tr>
    <%= render 'bookings/orders/order', :order => order %>
  </tr>
  <% end %>
</tbody>
</table>

<hr class="hr-normal">
<h1>Total</h1>
<h2><%= number_to_currency(@booking.price_total) %></h2>
