<div class="row" id="content-wrapper">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-header">
          <h1 class="pull-left">
            <i class="con-tag"></i>
            <% if @booking.hosted? %>
            <span>Hospedagem</span>
            <% else %>
            <span>Reserva</span>
            <% end %>
            <span class="text-muted">#<%= @booking.id %></span>
            <p>
              
            <span>Status: <%= (@booking.paid?) ? "Pago" : "Em aberto" %></span>
            </p>
          </h1>
          <div class="pull-right">
            <div class="btn-group">
                <%= link_to booking_path(@booking, format: :pdf), :class =>"btn" do %>
                  <i class="icon-print"></i>
                  Imprimir
                <% end %>
              <% unless @booking.hosted? %>
              <%= link_to edit_booking_path(@booking), :class =>"btn btn-primary", remote: true do %>
              <i class="icon-edit"></i> Alterar Reserva
              <% end %>
              <% if !@booking.billing.nil? %>
                <%= link_to @booking, :remote=> true, data: { confirm: 'Deseja realmente excluir esta reserva?' }, :method=>:delete, :class=>'btn btn-danger' do  %>
                <i class="icon-trash"></i> Cancelar Reserva
                <% end %>
              <% end %>
              <% end %>
              <% if @booking.billing.nil? %>
              <%= link_to billing_booking_path(@booking), :class =>"btn btn-success", :id=>"bill", remote: true do %>
              <i class="icon-ok"></i> Marcar como pago
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row invoice">
      <div class="col-sm-12">
        <div class="box">
          <div class="box-content box-double-padding">
            <div class="row">
              <div class="col-sm-6 seller">
                <div class="lead text-contrast">
                  <i class="icon-user"></i> Cliente
                </div>
                <address>
                  <strong><%= @booking.customer.name %></strong>
                  <br>
                  <small><a href="mailto:john@doe.com"><%= @booking.customer.email %></a></small>
                  <br>
                  <small><%= @booking.customer.phone %></small>
                </address>
              </div>

              <div class="col-sm-6 info">
                <div class="lead text-contrast">
                  <i class="icon-calendar"></i> Datas
                </div>
                <strong>Check-in</strong>
                <%= l @booking.start_at %>
                <br>
                <strong>Check-out</strong>
                <%= l @booking.end_at %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
               <div class="notice alert"></div>
               <div class="box bordered-box green-border" style="margin-bottom:0;">
                <div class="box-header red-background">
                  <div class="title">
                    <i class="icon-shopping-cart"></i> Produtos consumidos no Frigobar
                  </div>
                  <div class="actions">
                    <%= link_to new_booking_order_path(@booking), :remote => true, :class => 'btn btn-success' do %>
                    <i class="icon-plus"></i> Registrar pedido
                    <% end %>
                  </div>
                </div>
                <div class="box-content box-no-padding" style="margin-bottom:0;">
                  <div class="responsive-table">
                    <table id="orders" class="table table-striped" style="margin-bottom:0;">
                      <thead>
                       <tr>
                        <th>Código</th>
                        <th>Item</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                        <th>Preço total</th>
                      </tr>
                    </thead>


                    <tbody>
                      <% @booking.orders.includes(:product).each do |order| %>
                      <tr>
                        <%= render 'bookings/orders/order', :order => order %>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>

                </div>
              </div>

            </div>
          </div>
        </div>
        <hr class="hr-normal">
        <div class="row">
          <div class="col-sm-12">
            <div class="text-right text-contrast subtotal">
              <%= number_to_currency(@booking.price_total) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
