<% if @booking.errors.messages.any? %>
	$("#flash_notice").html("<div class='alert alert-danger'>");
	<% @booking.errors.messages.each do |attr, messages| %>
		<% messages.each do |msg| %>
		$("#flash_notice .alert").append("<p><%= msg %></p>"); 
		<% end %>
	<% end %>
	$("#flash_notice").append("</div>");
	  
<% else %>
	bootbox.hideAll();
	$("#flash_notice").html("");
	$("#calendar_notice").show();
	$("#calendar_notice").html("<%= flash[:notice]%>");
	$("#calendar_notice").addClass("alert-success");
	var calEvent = $('.calendar').fullCalendar( 'clientEvents', <%= @booking.id %> )[0]
	calEvent.end = '<%= @booking.end_at %>'
	$('.calendar').fullCalendar( 'updateEvent', calEvent );
<% end %>