<div class="alert"></div>
<%= simple_form_for(user, :url => { :action => "update_password" }, remote: true ) do |f| %>
  <div class="form-group">
    <%= f.input :password, :autocomplete => "off", :input_html=>{:class=>'form-control'}  %>

  </div>
  <div class="form-group">
    <%= f.input :password_confirmation, :input_html=>{:class=>'form-control'}  %>
  </div>
  <hr />
  <div class="form-actions">
    <%= button_tag(type: :submit, :class=> "btn btn-success") do %>
      <i class="icon-save"></i> Alterar senha
    <% end %>
  </div>
<% end %>