<%= simple_form_for(@user, :remote=>true) do |f| %>

<div class="form-inputs">
	<div class="form-group">

		<%= f.input :username, required: true, autofocus: true, :input_html=>{:class=>"form-control"} %>
	</div>
	<div class="form-group">
	<%= f.input :password, required: true, :input_html=>{:class=>"form-control"} %>
	</div>
	
</div>

<div class="form-actions">
	<%= f.button :submit, "Registrar" %>
</div>
<% end %>
