bootbox.hideAll();
$(".notice").addClass("alert alert-success");
	$(".notice").append("<%= flash[:notice] %>");
	$('table tbody').append('<tr id="<%= @user.id %>"><%= escape_javascript(render "user_row" , :user => @user) %></tr>');