<div class="col-xs-12">
              <div class="row">
                <div class="col-sm-12">
                  <div class="page-header">
                    <h1 class="pull-left">
                      <i class="icon-user"></i>
                      <span>Perfil de Usuário</span>
                    </h1>
                  </div>
                </div>
              </div>
              <div class="row">
                
                <div class="col-sm-12">
                  <div class="box">
                    <div class="box-content box-double-padding">

                        <fieldset>
                          <div class="col-sm-4">
                            <div class="lead">
                              <i class="icon-github text-contrast"></i>
                              Nome de usuário
                            </div>
                            <small class="text-muted">Use esta tela para mudar as informações a respeito do usuário.</small>
                          </div>
                          <div class="col-sm-7 col-sm-offset-1">
                            <div class="form-group">
                              <label>Nome de usuário</label>
                              <%= current_user.username %>
                            </div>
                            <div class="form-group">
                              <label>E-mail</label>
                              <%= current_user.email %>
                            </div>
                            <hr class="hr-normal">
                            <div class="form-group">
                              <div class="controls">
                                <div class="checkbox">
                                  <label>
                                    <input data-target="#change-password" data-toggle="collapse" id="changepasswordcheck" type="checkbox" value="option1">
                                    Mudar senha
                                  </label>
                                </div>
                              </div>
                            </div>
                            
                            <div class="collapse" id="change-password">
                              <%= render 'change_password', :user => current_user %>
                              
                            </div>
                          </div>
                        </fieldset>
                        
                    </div>
                  </div>
                </div>
              </div>
            </div>
