$(".alert").show();
<% if @user.errors.full_messages.any? %>
	<% @user.errors.full_messages.each do |full_message| %>
		$(".alert").addClass("alert-danger");
		$(".alert").append("<%= full_message %>");
	<% end %>
<% else %>
	bootbox.hideAll();
	$(".alert").html("");
	$(".alert").addClass("alert alert-success");
	$(".alert").append("<%= flash[:notice] %>");
<% end %>
