
<div class='row' id='content-wrapper'>
	<div class='col-xs-12'>
		<div class='row'>
			<div class='col-sm-12'>
				<div class='page-header'>
					<h1 class='pull-left'>
						<i class='icon-tint'></i>
						<span>Gestão de Hotel</span>
					</h1>
				</div>
			</div>
		</div>
		
		<div class='row'>
			<div class='col-sm-12'>
				<%= render 'rooms/rooms', :rooms => @rooms %>			
			</div>
		</div>
		
		<br>
		
		<div class='row'>
			<div class='col-sm-4'>
				<div class='box'>
					<div class='box-header'>
						<div class='title'>
							<div class='icon-room'></div>
							Quartos
						</div>
					</div>
					<div class='row'>
						<div class='col-sm-12'>
							<%= render 'rooms/statuses' %>
						</div>
					</div>
					
				</div>
			</div>
			<div class='col-sm-8'>
				<div class='box'>
					<div class='box-header'>
						<div class='title'>
							<i class='icon-calendar'></i>
							Calendário
						</div>
					</div>
					<div class='row'>
						<div class='col-sm-12'>
							<%= render 'bookings/calendar' %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class='row'>
			
		</div>


	</div>
</div>
<footer id='footer'>
	
</footer>
