<td><%= customer.name %></td>
<td><%= customer.cpf %></td>
<td><%= l customer.birthday %></td>
<td><%= customer.rg %></td>
<td><%= customer.phone %></td>
<td><%= customer.email %></td>
<td>
	<div class="text-right">
		
		<%= link_to edit_customer_path(customer), :remote => true, :class=>'btn btn-success' do %>
		<i class="icon-edit"></i> Editar
		<% end %>

		<%= link_to customer, method: :delete, data: {confirm: "deseja realmente remover?"}, :remote => true, :class=>'removable btn btn-danger' do %>
		<i class="icon-trash"></i> Remover
		<% end %>
	</div>
</td>