<div class="errors alert alert-important" style="display: none"></div>
<%= simple_form_for @customer, :remote => true, :html=>{:class=>"form form-horizontal"} do |f| %>
<fieldset>
  <div class='col-sm-12'>
    <div class="form-group">
      <%= f.input :name, :input_html=>{:class=>"form-control"} %>
    </div>
    <div class="form-group">
      <%= f.input :cpf, :input_html=>{:class=>"form-control"} %>
    </div>
    <div class="form-group">
      <%= f.input :rg, :input_html=>{:class=>"form-control"} %>
    </div>
    <div class="form-group">
      <%= f.input :phone, :input_html=>{:class=>"form-control"} %>
    </div>
    <div class="form-group">
      <%= f.input :email, :input_html=>{:class=>"form-control"} %>
    </div>
    <div class="form-group">
      <label>Data de nascimento</label>
      <%= f.date_field :birthday, :class=>"form-control" %>
    </div>
  </div>
</fieldset>
  <hr class='hr-normal'>
    <div class='row'>
      <div class='col-sm-12'>
        <%= button_tag :type => 'submit', :class=>'btn btn-success btn-lg col-sm-12' do %>
        <i class='icon-save'></i>
        Cadastrar
        <% end %>
      </div>
    </div>
</div>
<% end %>