<div class='row' id='content-wrapper'>
	<div class='col-sm-12'>

		<div class='box bordered-box blue-border'>
			<div class='box-header blue-background'>
				<div class='title'>
					<i class='icon-plus'></i>
					Novo Cliente
				</div>
			</div>
			<div class='box-content	'>
				<%= render 'form' %>
			</div>
		</div>
	</div>
</div>
