$("#notice").show();
<% if @customer.errors.full_messages.any? %>
	<%= @customer.errors.full_messages.each do |full_message| %>
		$("#notice").append("<%= full_message %>");
	<% end %>
<% else %>
	bootbox.hideAll();
	$(".notice").html("");
	$(".notice").removeClass("alert-info");
	$(".notice").addClass("alert alert-success");
	$(".notice").append("<%= flash[:notice] %>");
	$('table tbody').append('<tr id="#customer-row-<%= @customer.id %>"><%= escape_javascript(render "customer_row" , :customer => @customer) %></tr>');
<% end %>