$('.removable').bind('ajax:success', function() {  
        $(this).closest('tr').fadeOut();
});  
$(".notice").html("");
$(".notice").removeClass("alert-success");
$(".notice").show();
$(".notice").addClass("alert alert-info")
$(".notice").html("<%= flash[:notice] %>")