<div class='row' id='content-wrapper'>
  <div class='col-xs-12'>
    <div class='row'>
      <div class='col-sm-12'>
        <div class='page-header'>
          <h1 class='pull-left'>
            <i class='icon-user'></i>
            <span>Clientes</span>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class='col-sm-12'>

    <div class="notice alert alert-dismissable" style="display:none"></div>
    <div class="box bordered-box green-border" style="margin-bottom:0;">
      <div class="box-header blue-background">
        <div class="title">
      		<i class="icon-user"></i> Lista de Clientes
        	</div>
        <div class="actions">
          <%= link_to new_customer_path, :remote =>true, :class=>'btn btn-success' do %>
            <i class="icon-plus"></i> Novo Cliente
          <% end %>

        </div>
      </div>
      <div class="box-content box-no-padding" style="margin-bottom:0;">
        <div class="responsive-table">
          <table class="table table-striped" style="margin-bottom:0;">
            <thead>
              <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Data de nascimento</th>
                <th>RG</th>
                <th>Telefone</th>
                <th>E-mail</th>
                <th></th>
              </tr>
            </thead>

              
            <tbody>
              <% @customers.each do |customer| %>
                <tr id="customer-row-<%= customer.id %>">
                  <%= render 'customer_row', :customer => customer %>
                </tr>
              <% end %>
            </tbody>
          </table>
          
        </div>
         <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
      </div>

    </div>

  </div>
</div>






