<div class='row' id='content-wrapper'>
	<div class='col-xs-12'>
		<div class='row'>
			<div class='col-sm-12'>
				<div class='page-header'>
					<h1 class='pull-left'>
						<i class='icon-tint'></i>
						<span>Novo cliente</span>
					</h1>
				</div>
			</div>
		</div>

		<div class='col-sm-12'>
			<div class='box bordered-box blue-border'>
				<div class='box-content box-double-padding'>
					<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
</div>
