$(".notice").show();
<% if @customer.errors.full_messages.any? %>
	<%= @customer.errors.full_messages.each do |full_message| %>
		$("#notice").append("<%= full_message %>");
	<% end %>
<% else %>
	bootbox.hideAll();
	$(".notice").html("");
	$(".notice").addClass("alert alert-success");
	$(".notice").append("<%= flash[:notice] %>");
	$("tr#customer-row-<%= @customer.id %>").html("<%= escape_javascript(render 'customer_row', :customer => @customer) %>");
<% end %>
