<div class='row'>
	<div class='col-sm-4 col-sm-offset-4'>
		<h1 class='text-center title'>Entrar</h1>
		<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<div class="form-inputs">
			<%= f.input :username, required: false, autofocus: true, :input_html => {:class => "form-control"} %>
			<%= f.input :password, required: false, :input_html => {:class => "form-control"} %>
			<div class='checkbox'>
				<%= f.input :remember_me, as: :boolean if devise_mapping.rememberable?  %>
			</div>
		</div>

		<%= f.button :submit, "Entrar", :class => 'btn btn-block btn-primary' %>
		<% end %>
	</div>
</div>



