<div class='row' id='content-wrapper'>
  <div class='col-xs-12'>
    <div class='row'>
      <div class='col-sm-12'>
        <div class='page-header'>
          <h1 class='pull-left'>
            <i class="icon-money"></i>
            <span>Pagamentos</span>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class='col-sm-12'>

    <div class="notice alert alert-dismissable" style="display:none"></div>
    <div class="box bordered-box green-border" style="margin-bottom:0;">
      <div class="box-header blue-background">
        <div class="title">
          <i class="icon-list"></i> Lista de Pagamentos
        </div>
      </div>
      <div class="box-content box-no-padding" style="margin-bottom:0;">
        <div class="responsive-table">
          <table class="table table-striped" style="margin-bottom:0;">
            <thead>
              <tr>
                <th>Reserva</th>
                <th>Total</th>
                <th>Data</th>
                <th>Á vista</th>
              </tr>
            </thead>

            
            <tbody>
              <% @billings.each do |billing| %>
              <tr>
                
                <td># <%= billing.booking_id %></td>
                <td><%= number_to_currency(billing.value) %></td>
                <td><%= l billing.created_at, :format => :short %></td>
                <td>
                  <% if billing.at_cash? %>
                   <span class="label label-success">Sim</span>
                  <% else %>
                    <span class="label label-important">Não</span>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
          
        </div>
        
      </div>

    </div>

  </div>
</div>






