<td><%= classification.name %></td>
<td><%= classification.description %></td>
<td>
	<div class="text-right">
		
		<%= link_to edit_classification_path(classification), remote: true, :class => 'btn btn-success' do %>
		<i class="icon-edit"></i> Editar
		<% end %>
		<%= link_to classification, remote: true, :class => 'btn btn-danger', :method => :delete, :data=>{:confirm=>"Deseja realmente remover essa classificação"} do %>
		<i class="icon-trash"></i> Remover
		<% end %>
		<%= link_to classification_pricings_path(classification), :class => 'btn btn-success' do %>
		<i class="icon-money"></i> Preços
		<% end %>
	</div>

</td>