<%= simple_form_for @classification, :remote=>true, :html=>{:class=>'form'} do |f| %>
<div class="form-group">
	<%= f.input :name, :input_html => {:class=>"form-control"} %>
</div>

<div class="form-group">
	<%= f.input :description, :input_html => {:class=>"form-control"} %>
</div>
<hr class='hr-normal'>
<div class='row'>
	<div class='col-sm-12'>
		<%= button_tag(type: :submit, :class=>'btn btn-success btn-lg col-sm-12') do %>
		<i class="icon-save"></i> Salvar
		<% end %>
	</div>
</div>
<% end %>
