<% if @classification.errors.full_messages.any? %>
	$(".errors").html("");
	<% @classification.errors.full_messages.each do |full_message| %>
		$(".errors").append("<%= full_message %>")
	<% end %>
<% else %>
	bootbox.hideAll();
	$(".notice").html("")
	$(".notice").show();
	$(".notice").html("<%= flash[:notice] %>");
	$(".notice").addClass("alert-success");
	$("table tbody").append("<tr id='<%= @classification.id%>'><%= escape_javascript(render 'classification_row', :classification=> @classification) %></tr>");
<% end %>