<div class="row">

  <div class="col-xs-12">
    <div id="orders">
      <div class="row">
        <div class="col-sm-12">
          <div class="page-header">
            <h1 class="pull-left">
              <i class="icon-inbox"></i>
              <span>Orders</span>
            </h1>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="box">
                <div class="box-content">
                  <% Classification.all.each do |classification| %>
                  <%= link_to new_booking_path(:classification_id => classification.id), :class => "btn box-content box-statistic green-background", remote: true  do %>
                  <h3 class='title text-error'><%= classification.name %></h3>
                  <% end %>
                  <% end %>

                </div>

                
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
