<% if @classification.errors.full_messages.any? %>
	<% @classification.errors.full_messages.each do |full_message| %>
		$(".errors").append("<%= full_message %>")
	<% end %>
<% else %>
	bootbox.hideAll();
	$(".notice").html("")
	$(".notice").show();
	$(".notice").addClass("alert-success");
	$(".notice").html("<%= flash[:notice] %>");
	$("tr#classification-row-<%= @classification.id %>").html("<%= escape_javascript(render 'classification_row', :classification=> @classification) %>");
<% end %>