<div class="errors alert alert-danger" style="display:none"></div>
<%= simple_form_for @room, :html=>{:class=>:form}, :remote => true do |f| %>
<fieldset>
  <div class='col-sm-12'>
    <div class="form-group">
      <%= f.input :number, :input_html => {:class=>"form-control"} %>
    </div>
    <div class="form-group">
      <%= f.association :classification, :input_html => {:class=>"form-control"} %>
    </div>
  </div>
</fieldset>
<hr class='hr-normal'>

  <div class='row'>
    <div class='col-sm-12'>
      <%= button_tag :type => 'submit', :class=>'btn btn-success btn-lg col-sm-12'  do %>
      <i class='icon-save'></i>
      Cadastrar
      <% end %>
    </div>
  </div>

</div>
<p>
</p>
<% end %>