<div class='col-sm-12'>
	<div class='box'>
		<div class="box-header blue-background">
			<div class="title">
				<i class="icon-room"></i> Quartos
			</div>
			<div class="actions">
			<%= link_to new_room_path, :remote =>true, :class=>'btn btn-success' do %>
				<i class="icon-plus"></i> Novo Produto
				<% end %>

			</div>
		</div>
		<div class='box-content'>
			<div class="row">
				<% @rooms.each do |room| %>
				<div  id="room-<%= room.id %>">
					<%= render 'rooms/room_current_situation', :room => room %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
