<% if room.vacant? %>
<%= link_to new_room_booking_path(room), :remote => true, :class=>"box-content box-statistic green-background", :style=>"text-decoration: none" do %>
<h3 class="title text-error"># <%= room.number %>
	<%= room.classification.name %>
</h3>

<% end %>
<% else %>

<%= link_to edit_room_booking_path(room, room.bookings.today), :remote => true, :class=>"box-content box-statistic red-background", :style=>"text-decoration: none" do %>
<h3 class="title text-error"># <%= room.number %></h3>

<% end %>
<% end %>