<div class='pull-left' id="room-row-#{room.id}">
	<p>
		<a href='#detail'>
			<strong>#<%= room.number %></strong>
			<%= room.description %>
		</a>
	</p>
	<p>
		<% if room.busy? %>
		<span class='label label-important'>Ocupado</span>
		<% end %>
		<% if room.reserved? %>
		<span class='label label-warning'>Reservado</span>
		<% end %>
		<% if room.vacant? %>
		<span class='label label-success'>Vago</span>
		<% end %>
	</p>
</div>
<div class="text-right pull-right">
	<p>
	<%= link_to room, method: :delete, data: {confirm: "Deseja realmente excluir este quarto?"}, :class=>'btn btn-danger removable', :remote => true do %>
		<i class="icon-trash"></i> 
		<% end %>
	</p>
</div>
<div class='clearfix'></div>