<%= link_to root_path, :class => "btn box-content box-statistic red-background" do %>
	<h3 class='title text-error'><%= Room.busy_at_date.size %></h3>
	<small>Ocupados</small>
	<div class='text-error icon-lock align-right'></div>
<% end %>

	<%= link_to root_path, :class => "btn box-content box-statistic orange-background" do %>
	<h3 class='title text-warning'><%= Room.reserved_at_date.size %></h3>
	<small>Reservados</small>
	<div class='text-warning icon-unlock align-right'></div>
	<% end %>
<%= link_to root_path, :class => "btn box-content box-statistic green-background" do %>
	<h3 class='title text-success'><%= Room.free_at_date.size %></h3>
	<small>Livres</small>
	<div class='text-success icon-ok align-right'></div>
<% end %>