<% if @room.errors.full_messages.any? %>
	$(".errors").html("");
	$(".errors").show();
	<% @room.errors.full_messages.each do |full_message| %>
		$(".errors").append("<p><%= full_message %></p>");
	<% end %>
<% else %>
	bootbox.hideAll();
	$(".notice").show();
	$(".notice").addClass("alert alert-success");
	$("#rooms").html("<%= escape_javascript(render 'rooms', :rooms => @rooms) %>");
<% end %>
