
<div class='row'>
	<div class='col-xs-12'>
		<div class='row'>
			<div class='col-sm-12'>
				<div class='page-header'>
					<h1 class='pull-left'>
						<i class='icon-room icon-large'></i>
						<span>Quartos</span>
					</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class='col-sm-12'>
		<div class='row' id="rooms">
			<%= render 'rooms', :rooms => @rooms %>
		</div>
	</div>
</div>
