/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: font-url("fontcustom/fontcustom_e7e742438d87cb0d699a7bbf7e1e5132.eot");
  src: font-url("fontcustom/fontcustom_e7e742438d87cb0d699a7bbf7e1e5132.eot?#iefix") format("embedded-opentype"),
       font-url("fontcustom/fontcustom_e7e742438d87cb0d699a7bbf7e1e5132.woff") format("woff"),
       font-url("fontcustom/fontcustom_e7e742438d87cb0d699a7bbf7e1e5132.ttf") format("truetype"),
       font-url("foncustom/fontcustom_e7e742438d87cb0d699a7bbf7e1e5132.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: font-url("fontcustom/fontcustom_e7e742438d87cb0d699a7bbf7e1e5132.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-room:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-room:before { content: "\f100"; }
