@import "compass";
@import "theme/variables";
@import "theme/utilities";

$lightest: #f4f4f4;
$light: #dddddd;

$dark: #3c3c3c;
$darkest: #222222;

$white: #fff;
$contentBackground: #fbfbfb;
$contrast: $blue;

// header
$headerBackground: $contrast;
$headerBrandColor: $white;
$headerSearchButtonColor: $headerBackground;

// navigation
$showNavCaret: false;
$navBackground: $lightest;
$navBorder: $light;
$navItemBackround: $lightest;
$navItemBorderTop: darken($navBackground, 5%);
$navItemBorderBottom: lighten($navBackground, 5%);
$navItemHoverFocusBackground: lighten($contentBackground, 1%);
$navIcon: #6e6e6e;
$navText: $dark;
$navIconHoverFocus: $contrast;
$navTextHoverFocus: $darkest;
$navHeaderColor: lighten($navBackground, 20%);
$navWidth: 250px;
$navClosedWidth: 45px;

$navSecondBorder: transparent;
$navSecondBackground: darken($lightest, 6%);
$navSecondItemBorder: darken($navSecondBackground, 10%);
$navSecondItemHoverFocusBackground: lighten($navSecondBackground, 3%);

//type
$pageHeaderBackground: $white;
$pageHeaderColor: $darkest;
$pageHeaderBorder: $light;
$pageHeaderIconColor: $contrast;
$pageHeaderBreadCrumbHover: $contrast;

//timeline
$timelineLine: $light;
$timelineContentBackground: $white;
$timelineIconColor: $white;

//boxes
$boxBorder: $light;
$boxBackground: $white;
$boxHeaderColor: $dark;
$boxActionsColor: darken($light, 10%);
$boxActionsHoverColor: $contrast;
$boxTextContrastColor: $white;
$boxActionsContrastColor: $white;
$boxActionsContrastHoverBackground: $white;
$boxToolboxBackground: $lightest;
$boxToolboxBorder: $light;

//quick links
$quickIconColor: $white;
$quickContentColor: darken($lightest, 60%);
$quickContentBackground: darken($lightest, 10%);
$quickContentHoverBackground: darken($lightest, 15%);
$quickContentBorder: darken($lightest, 15%);
$quickContentHoverBorder: darken($lightest, 20%);

//statistic boxes
$statBoxBackground: $white;
$statBoxContrastColor: $white;

//calendar
$calButtonBackground: $white;
$calButtonHoverBackground: $light;

//chat
$chatMessageBorder: $light;
$fixedChatHeaderBackground: $contrast;
$fixedChatHeaderColor: $white;
$fixedChatActionsColor: $white;

//forms
$formActionsBackground: $lightest;
$formStripedBorder: $light;
$formStripedBackground: $lightest;

$inputBorder: darken($light, 5%);
$inputBackground: $white;
$inputFocusBorderColor: darken($light, 20%);
$inputFocusShadow: rgba(220, 225, 229, 1);

//gallery
$galleryActionsColor: $white;
$galleryActionsBackground: rgba(0, 0, 0, .3);

//recent activity
$recentBorder: $light;

//wizard
$wizardStepCompleteBackground: $green;
$wizardStepCompleteColor: $white;
$wizardStepActiveBackground: $contrast;
$wizardStepActiveColor: $white;
$wizardStepBackground: $light;
$wizardStepColor: darken($lightest, 70%);

@import "theme/font-awesome";
@import "theme/type";
@import "theme/header";
@import "theme/navigation";
@import "theme/content";
@import "theme/boxes";
@import "theme/boxes-quick-links";
@import "theme/boxes-statistics";
@import "theme/tables";
@import "theme/todo-list";
@import "theme/recent-activity";
@import "theme/chat";
@import "theme/tasks";
@import "theme/nestable-list";
@import "theme/accordions";
@import "theme/tabs";
@import "theme/wizard";
@import "theme/forms";

@import "theme/pages/gallery";
@import "theme/pages/timeline";
@import "theme/pages/invoice";
@import "theme/pages/pricing_tables";
@import "theme/pages/orders";
@import "theme/pages/faq";
@import "theme/pages/errors";
@import "theme/pages/login";

@import "theme/overrides-bootstrap";
@import "theme/overrides-plugins";
@import "theme/common";

