<%= simple_form_for(@expense,:html=>{:class=>:form}, :remote =>true) do |f| %>

<fieldset>
  <div class='col-sm-12'>
    <div class="form-group">
      <%= f.input :description, :input_html => {:class=>"form-control"} %>
    </div>
    <div class="input-group">
      <span class="input-group-addon">R$</span>
      <%= f.input :value, as: :currency, :label=> false, :input_html => {:class=>"form-control"} %>
    </div>
  </div>
</fieldset>
<hr class='hr-normal' />
<div class="actions">
  <div class='row'>
    <div class='col-sm-12'>
      <%= button_tag(type: :submit, :class => 'btn btn-success btn-lg col-sm-12') do %>
        <i class="icon-save"></i> Salvar
      <% end %>
    </div>
  </div>
</div>
<% end %>
<script type="text/javascript">

  $(document).ready(function() {
    $("input[type=text].currency").setMask('decimal');
  });
</script>
