<% if @expense.errors.messages.any? %>
	$("#flash_notice").html("<div class='alert alert-danger'>");
	<% @expense.errors.messages.each do |attr, messages| %>
		<% messages.each do |msg| %>
		$("#flash_notice .alert").append("<p><%= msg %></p>"); 
		<% end %>
	<% end %>
	$("#flash_notice").append("</div>");
	  
<% else %>
	bootbox.hideAll();
	$("#flash_notice").html("");
	$("#calendar_notice").show();
	$("#calendar_notice").html("<%= flash[:notice]%>");
	$("#calendar_notice").addClass("alert-success");
	$("table tbody").append("<tr>><%= escape_javascript(render 'expense', :expense=>@expense) %></tr>")
	$(".subtotal").html("Total de Despesas: <%= number_to_currency(@total) %>")
<% end %>
