<div class="row" id="content-wrapper">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-header">
          <h1 class="pull-left">
            <i class="con-tag"></i>
            <span>Despesas</span>
            
          </h1>

        </div>
      </div>
    </div>
    <div class="row invoice">
      <div class="col-sm-12">
       <div class="notice alert"></div>
       <div class="box bordered-box green-border" style="margin-bottom:0;">
        <div class="box-header blue-background">
          <div class="title">
            <i class="icon-user"></i> Lista de Despesas
          </div>
          <div class="actions">
            <%= link_to new_expense_path, :remote =>true, :class=>'btn btn-success' do %>
            <i class="icon-plus"></i> Registrar retirada do caixa
            <% end %>

          </div>
        </div>
        <div class="box-content box-no-padding" style="margin-bottom:0;">
          <div class="responsive-table">
            <table class="table table-striped" style="margin-bottom:0;">
              <thead>
                <tr>
                  <th>Descrição</th>
                  <th>Valor</th>
                </tr>
              </thead>

              <tbody>
                <% @expenses.each do |expense| %>
                <tr>
                  <%= render 'expense', :expense => expense %>
                </tr>
                <% end %>
              </tbody>
            </table>

          </div>
        </div>

      </div>

      <hr class="hr-normal">
      <div class="row">
        <div class="col-sm-12">
          <div class="text-right text-contrast subtotal">
            Total de Despesas: <%= number_to_currency(@total) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



