<%= simple_form_for @product, :html=>{:class=>:form}, :remote => true do |f| %>
<fieldset>
  <div class='col-sm-12'>
    <div class="form-group">
      <%= f.input :name,  :input_html => {:class => "form-control"} %>
    </div>
    <div class="input-group">
      <span class="input-group-addon">R$</span>
      <%= f.input :price, as: :currency, :label=> false, :input_html => {value: number_to_currency(f.object.price), :class => "form-control"} %>
    </div>
  </div>
</fieldset>
<hr class='hr-normal' />
<div class="actions">
  <div class='row'>
    <div class='col-sm-12'>
      <%= button_tag :type => 'submit', :class=>'btn btn-success btn-lg col-sm-12' do %>
      <i class='icon-save'></i> Salvar
      <% end %>
    </div>
  </div>
</div>
<% end %>
<script type="text/javascript">

  $(document).ready(function() {
    $("input[type=text].currency").setMask('decimal');
  });
</script>
