	<div class='row' id='list'>
		<div class='col-sm-12'>
			<div class='box'>
				<div class='box-content'>
					<% @products.each do |product| %>
						<%= render product, :product => @product %>
					<% end %>
				</div>
			</div>
		</div>
	</div>