<td><%= product.name %></td>
<td><%= number_to_currency(product.price) %></td>

<td>
	<div class="text-right">
		
		<%= link_to edit_product_path(product), :remote => true, :class=>'btn btn-success btn-xs removable' do %>
		<i class="icon-edit"></i> Editar
		<% end %>
	</div>
</td>
