<% if @product.errors.full_messages.any? %>
	$(".errors").show();
	<%= @product.errors.full_messages.each do |full_message| %>
		$(".errors").append("<p><%= full_message %></p>");
	<% end %>
<% else %>
	bootbox.hideAll();
	$(".notice").html("");
	$(".notice").show();
	$(".notice").addClass("alert alert-success");
	$(".notice").append("<%= flash[:notice] %>");
	$('table tbody').append('<tr id="product-row-<%= @product.id %>"><%= escape_javascript(render "product_row", :product => @product) %></tr>');
<% end %>
