<div class='row' id='content-wrapper'>
  <div class='col-xs-12'>
    <div class='row'>
      <div class='col-sm-12'>
        <div class='page-header'>
          <h1 class='pull-left'>
            <i class="icon-shopping-cart"></i>
            <span>Produtos</span>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class='col-sm-12'>

    <div class="notice alert alert-dismissable" style="display:none"></div>
    <div class="box bordered-box green-border" style="margin-bottom:0;">
      <div class="box-header blue-background">
        <div class="title">
      		<i class="icon-list"></i> Lista de Produtos
        	</div>
        <div class="actions">
          <%= link_to new_product_path, :remote =>true, :class=>'btn btn-success' do %>
            <i class="icon-plus"></i> Novo Produto
          <% end %>

        </div>
      </div>
      <div class="box-content box-no-padding" style="margin-bottom:0;">
        <div class="responsive-table">
          <table class="table table-striped" style="margin-bottom:0;">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Preço</th>
                <th></th>
              </tr>
            </thead>

              
            <tbody>
              <% @products.each do |product| %>
                <tr id="product-row-<%= product.id %>">
                	<%= render 'product_row', :product => product %>
                </tr>
              <% end %>
            </tbody>
          </table>
          
        </div>
        <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
      </div>

    </div>

  </div>
</div>






