$(".notice").show();
<% if @product.errors.full_messages.any? %>
	<%= @product.errors.full_messages.each do |full_message| %>
		$(".notice").append("<%= full_message %>");
	<% end %>
<% else %>
	bootbox.hideAll();
	$(".notice").addClass("alert alert-success");
	$(".notice").append("<%= flash[:notice] %>");
	$('tr#product-row-<%= @product.id %>').html('<%= escape_javascript(render "product_row", :product => @product) %>');
<% end %>
