<nav class="navbar navbar-default blue-background">
	<ul class="nav  blue-background">
		<li class="dropdown dark user-menu blue-background">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<span class="user-name"><%= current_user.username %></span>
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li>
					<%= link_to current_user do %>
						<i class="icon-user"></i>
						Perfil
					<% end %>
				</li>
				<li class="divider"></li>
				<li>
					<%= link_to('Sair', destroy_user_session_path, :method => :delete) %>       
				</li>
			</ul>
		</li>
	</ul>
	

</nav>