	<div class="navigation">
		<ul class="nav nav-stacked">

			
			<li>
				<%= link_to root_path do %>
				<i class="icon-home"></i>
				<span>Painel Principal</span>
				<% end %>
			</li>
			<% if current_cash.nil? %>
			<li>
				<%= link_to new_cash_path do %>
				<i class="icon-ok"></i>
				<span>Abrir caixa</span>
				<% end %>
			</li>
			<% else %>
			<li>
				<%= link_to edit_cash_path(current_cash) do %>
				<i class="icon-remove"></i>
				<span>Fechar caixa</span>
				<% end %>
			</li>

			<% end %>
			<li>
				<%= link_to bookings_path do %>
				<i class="icon-calendar"></i>
				<span>Reservas</span>
				<% end %>
			</li>
			<% if can? :manage, Cash %>
			<li>
				<%= link_to cashes_path do %>
				<i class="icon-book"></i>
				<span>Registro de caixa</span>
				<% end %>
			</li>
			<% end %>
			<% if can? :manage, Product %>
			<li>
				<%= link_to products_path do %>
				<i class="icon-shopping-cart"></i>
				<span>Produtos</span>
				<% end %>
			</li>
			<% end %>

			<% if can? :manage, Room %>
			<li>
				<%= link_to rooms_path do %>
				<i class="icon-room"></i>
				<span>Quartos</span>
				<% end %>
			</li>
			<% end %>

			<% if can? :manage, Classification %>
			<li>
				<%= link_to classifications_path do %>
				<i class="icon-tag"></i>
				<span>Tipos de Quarto</span>
				<% end %>
			</li>
			<% end %>


			<% if can? :manage, Billing %>
			<li>
				<%= link_to billings_path do %>
				<i class="icon-money"></i>
				<span>Pagamentos</span>
				<% end %>
			</li>
			<% end %>

			<% if can? :manage, Expense %>
			<li>
				<%= link_to expenses_path do %>
				<i class="icon-envelope"></i>
				<span>Despesas</span>
				<% end %>
			</li>
			<% end %>
			<% if can? :manage, Customer %>
			<li>
				<%= link_to customers_path do %>
				<i class="icon-user"></i>
				<span>Clientes</span>
				<% end %>
			</li>
			<% end %>

			<% if can? :manage, User %>
			<li>
				<%= link_to users_path do %>
				<i class="icon-group"></i>
				<span>Usuários</span>
				<% end %>
			</li>
			<% end %>
		</ul>
	</div>