<!DOCTYPE html>
<html>
<head>
	<title>Sistema De Reserva de Hotel</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<header>
		<%= render 'layouts/header' %>
	</header>

	<div id="wrapper">
		<div id="main-nav-bg"></div>
		<nav id="main-nav">
			<%= render 'layouts/side' %>
			
		</nav>
		<section id='content'>

			
			<div class='container'>
				<%= yield %>
			</div>
		</section>
	</div>

</body>
</html>
