
<!DOCTYPE html>
<html>
<head>
  <title>Entrar | Sistema de Gestão de Hotel</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='contrast-red login blue-background'>
  <div class='middle-container'>
    <div class='middle-row'>
      <div class='middle-wrapper'>
        <div class='login-container-header'>
          <div class='container'>
            <div class='row'>
              <div class='col-sm-12'>
                <div class='text-center'>
                  <h1>Sistema de Gestão de Hotel</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='login-container'>
          <div class='container'>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
